api_key = "your_key"
OllAMA_URL='http://{server_URL}:11434'
TARGET_MODEL=gemma4:e4b
# SQLite database for conversation history
DATABASE_URL = "sqlite:///chat_histories/chat_history.db"
# RAG Configuration
DOCS_DIRECTORY = "./docs"
CHROMA_DB_PATH = "./chroma_db"
EMBEDDING_MODEL = "nomic-embed-text"